doctype html
html
  head
    title Learn Dance
    block scripts
    block style
  body
    nav#navbar
        ul
            div.logo#logo 
                img(src="./static/dancelogo.png", alt="area for logo")
            li #[a(href='/') Home]
            li #[a(href='/') Services]
            li #[a(href='/') About us]
            li #[a(href='/') Contact us]
    block content
    div.footer
        |Copyright © 2020 NickDanceClass. All Rights Reserved